* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #450a0a;
    height: 500vh;
}


nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1618;
    gap: 60px;
    height: 80px;
    position: sticky;
    top: 0;
}


a {
  text-decoration: none;
  color: aliceblue;
  font-size: 2.0rem;
}


.intro {
  height: 80vh;
  padding: 50px;
  display: flex;
  align-items: center;
  background-image: radial-gradient(circle, #b68c8c, #8d6da8);
  gap: 40px; 
}


img {
  height: 400px;
  width: 500px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.intro-texto {
  display: flex;
  flex-direction: column; 
  text-align: justify;
  gap: 10px; 
}

h1 {
  color: #fffdfc;
  background: #ffffff52;
  border-radius: 12px;
  font-size: 3.0rem;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 5px;
  display: flex;
  justify-content: flex-start;
}

.intro p {
  color: #fff;
  font-size: 1.8rem; 
  font-family: "Lucida Console", "Courier New", monospace;
  text-indent: 50px;
  line-height: 1.5;
}

.sobreMim {
  background: #1a1618;
  height: 80vh;
}

.sobreMim h2 {
  color: #fff;
  font-size: 2.6rem;
  text-align: center;
  padding: 40px 0 0 0;
}

.containerCard{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

.cardSobreMim {
  background-color: aliceblue;
  border-radius: 12px;
  width: 300px;
  height: 350px;
  font-size: 1.5rem;
  margin-top: 50px;
  text-align: center;
}

#phrase {
  background-color: palevioletred;
  border-radius: 5px;
}