* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1618;
    gap: 60px;
    height: 80px;
    position: sticky;
    top: 0;
}


a {
  text-decoration: none;
  color: aliceblue;
  font-size: 2.0rem;
}


.intro {
  height: 80vh;
  padding: 50px;
  display: flex;
  align-items: center;
  background-image: radial-gradient(circle, #b68c8c, #8d6da8);
  gap: 40px; 
}


img {
  height: 400px;
  width: 500px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.intro-texto {
  display: flex;
  flex-direction: column; 
  text-align: justify;
  gap: 10px; 
}

h1 {
  color: #fffdfc;
  background: #ffffff52;
  border-radius: 12px;
  font-size: 3.0rem;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 5px;
  display: flex;
  justify-content: flex-start;
}

.intro p {
  color: #fff;
  font-size: 1.8rem; 
  font-family: "Lucida Console", "Courier New", monospace;
  text-indent: 50px;
  line-height: 1.5;
}

.sobreMim {
  background: #1a1618;
  height: 80vh;
}

h2 {
  color: #fff;
  font-size: 2.6rem;
  text-align: center;
  padding: 40px 0 30px 0;
}

.containerCard{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

.cardSobreMim {
  background-color: aliceblue;
  border-radius: 12px;
  width: 400px;
  height: 350px;
  font-size: 1.8rem;
  margin-top: 50px;
  text-align: justify;
  text-align-last: center;
}

.cardSobreMim p {
  margin: 20px 30px;
}

#phrase {
  background-color: palevioletred;
  border-radius: 5px;
}

svg {
  margin: 20px;
}

#destaque {
  align-self: flex-start;
}

.habilidades {
  background-color: #8d6da8;
  height: 80vh;
}

.itemBox {
  background-color: aliceblue;
  border-radius: 40px;
  justify-content: center;
  width: 200px;
  height: 50px;
}

#software, #framework, #linguagens {
  display: flex;
  gap: 80px;
  justify-content: center;
}

h3 {
  color: #fff;
  font-size: 2.0rem;
  text-align: center;
  padding: 40px 0 50px 0;
}

.habilidades p {
  text-align: center;
  padding: 15px 0 0 0;
  font-size: 1.5rem;
}

#projetos {
  background-color: #8e6da8a2;
  height: 80vh;
}

#projetosContainer {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.projetosItem {
  background: aliceblue;
  width: 320px;
  height: 400px;
  border-radius: 12px;
}

#final {
  background: #1a1618;
  height: 80vh;
}

#final p{
  color: #fff;
  font-size: 1.8rem;
  width: 600px;
  text-align: justify;
}

#labelContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  width: 100px:
  height: 100px;
  margin: 0 50px 0 0;
}


input {
  border: none;
  border-radius: 5px;
  width: 180px;
  height: 40px;
}

#mensagem {
   border: none;
   border-radius: 5px;
   width: 420px;
   height: 200px;
}

#textoForm {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 0 0;
}

button {
  border: none;
  background: #8d6da8;
  width: 120px;
  height: 60px;
  border-radius: 10px;
  color: aliceblue;
}

#buttonSend {
  display: flex;
  justify-content: flex-end;
  margin: 30px 400px;
}

label {
  color: #fff;
}